In [1]:
#  stringsAsFactors = FALSE,
data2 <- read.csv("C:\\Users\\hp\\Downloads\\cerealspga05.csv", header = TRUE,
                 stringsAsFactors = FALSE,
                 strip.white = TRUE ,
                 sep = ',')

print(str(data2))

'data.frame':	74 obs. of  16 variables:
 $ name    : chr  "100%_Bran" "All-Bran" "All-Bran_with_Extra_Fiber" "Cracklin'_Oat_Bran" ...
 $ mfr     : chr  "N" "K" "K" "K" ...
 $ type    : chr  "C" "C" "C" "C" ...
 $ calories: int  70 70 50 110 120 120 120 110 110 110 ...
 $ protein : int  4 4 4 3 3 3 3 2 2 2 ...
 $ fat     : int  1 1 0 3 1 1 5 2 2 0 ...
 $ sodium  : int  130 260 140 140 200 210 15 200 180 125 ...
 $ fiber   : num  10 9 14 4 6 5 2 1 1.5 1 ...
 $ carbo   : num  5 7 8 10 11 14 8 14 10.5 11 ...
 $ sugars  : int  6 5 0 7 14 12 8 8 10 14 ...
 $ potass  : int  280 320 330 160 260 240 135 -1 70 30 ...
 $ vitamins: int  25 25 25 25 25 25 0 25 25 25 ...
 $ shelf   : int  3 3 3 3 3 2 3 3 1 2 ...
 $ weight  : num  1 1 1 1 1.33 1.33 1 1 1 1 ...
 $ cups    : num  0.33 0.33 0.5 0.5 0.67 0.75 1 0.75 0.75 1 ...
 $ rating  : num  68.4 59.4 93.7 40.4 37.8 ...
NULL

In [4]:
# You can run an independent sample t-test across groups using the t.test() command
# data2$sugarl

t.test( data2$rating[data2$mfr=="N"],
       data2$ratingl[data2$mfr =="Q"] )

	One Sample t-test

data:  data2$rating[data2$mfr == "N"]
t = 30.219, df = 5, p-value = 7.444e-07
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
 62.18688 73.75025
sample estimates:
mean of x
 67.96857

In [3]:
t.test(data2$sugar[data2$type=="C"],
       data2$sugarl[data2$type =="H"])

	One Sample t-test

data:  data2$sugar[data2$type == "C"]
t = 13.576, df = 70, p-value < 2.2e-16
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
 5.995681 8.060657
sample estimates:
mean of x
 7.028169

In [5]:
t.test(data2$sugar,  data2$rating, paired=TRUE)

	Paired t-test

data:  data2$sugar and data2$rating
t = -17.341, df = 73, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -40.25909 -31.95890
sample estimates:
mean of the differences
              -36.10899

In [6]:
t.test(data2$sugar,  data2$rating, paired=FALSE)

	Welch Two Sample t-test

data:  data2$sugar and data2$rating
t = -20.759, df = 87.154, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -39.56619 -32.65179
sample estimates:
mean of x mean of y
  6.77027  42.87926

In [9]:
# mu = population average
# rstudio   ?t.test
t.test( data2$rating[data2$mfr=="N"],
       data2$ratingl[data2$mfr =="Q"]  , mu = 70)

	One Sample t-test

data:  data2$rating[data2$mfr == "N"]
t = -0.90319, df = 5, p-value = 0.4078
alternative hypothesis: true mean is not equal to 70
95 percent confidence interval:
 62.18688 73.75025
sample estimates:
mean of x
 67.96857

In [10]:
# Run the one-way ANOVA model

library("dplyr")
data2= data2 %>% na.omit()
#              Numeric Y  ~  Categorical - X
result <- aov(data2$rating ~ data2$mfr, data=data2)

summary(result)

Warning message:
"package 'dplyr' was built under R version 3.5.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

            Df Sum Sq Mean Sq F value   Pr(>F)
data2$mfr    6   5513   918.8   6.566 1.73e-05 ***
Residuals   67   9375   139.9
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [11]:
# Tukey multiple pairwise-comparisons
TukeyHSD(result)

  Tukey multiple comparisons of means
    95% family-wise confidence level

Fit: aov(formula = data2$rating ~ data2$mfr, data = data2)

$`data2$mfr`
           diff        lwr       upr     p adj
G-A -20.3650653 -57.128846 16.398716 0.6289835
K-A -10.8124547 -47.541471 25.916562 0.9721449
N-A  13.1176502 -25.718931 51.954231 0.9459921
P-A -13.0465857 -51.183351 25.090180 0.9426951
Q-A -11.9349271 -50.071692 26.201838 0.9624146
R-A -11.3396922 -50.176273 27.496889 0.9732547
K-G   9.5526107  -1.169952 20.275173 0.1121232
N-G  33.4827155  16.922742 50.042689 0.0000010
P-G   7.3184796  -7.526236 22.163195 0.7446547
Q-G   8.4301382  -6.414578 23.274854 0.6012813
R-G   9.0253732  -7.534601 25.585347 0.6465799
N-K  23.9301048   7.447454 40.412755 0.0007222
P-K  -2.2341311 -16.992540 12.524277 0.9992367
Q-K  -1.1224725 -15.880881 13.635936 0.9999863
R-K  -0.5272375 -17.009888 15.955413 0.9999999
P-N -26.1642359 -45.582526 -6.745945 0.0021317
Q-N -25.0525773 -44.470868 -5.634287 0.0037718
R-N -24.4573423 -45.216368 -3.698317 0.0109241
Q-P   1.1116586 -16.866185 19.089502 0.9999960
R-P   1.7068936 -17.711397 21.125184 0.9999678
R-Q   0.5952350 -18.823055 20.013525 0.9999999

In [12]:
library(car)
leveneTest(rating ~ mfr, data = data2)

Loading required package: carData

Attaching package: 'car'

The following object is masked from 'package:dplyr':

    recode

Warning message in leveneTest.default(y = y, group = group, ...):
"group coerced to factor."

      Df F value  Pr(>F)
group  6 1.364226 0.2418812
      67       NA        NA

In [13]:
# above 0.05 ,means Homogenous
# 0.25 - Homegenous - Normal

In [14]:
# Non-parametric alternative to one-way ANOVA test
# Y ~ x
# both are numeric
kruskal.test(as.numeric(rating) ~ calories, data = data2)
# all group levels must be finite

	Kruskal-Wallis rank sum test

data:  as.numeric(rating) by calories
Kruskal-Wallis chi-squared = 43.328, df = 9, p-value = 1.877e-06

In [15]:
# Two-way ANOVA with interaction effect  = "*"
res.aov2b <- aov(rating ~ mfr * type, data = data2)
summary(res.aov2b)

            Df Sum Sq Mean Sq F value   Pr(>F)
mfr          6   5513   918.8   6.429 2.35e-05 ***
type         1     12    11.7   0.082    0.775
mfr:type     1     74    74.0   0.518    0.474
Residuals   65   9289   142.9
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [16]:
res.aov2b <- aov(rating ~ mfr + type, data = data2)
summary(res.aov2b)

            Df Sum Sq Mean Sq F value   Pr(>F)
mfr          6   5513   918.8   6.477 2.09e-05 ***
type         1     12    11.7   0.083    0.775
Residuals   66   9363   141.9
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [17]:
#chisquare
# Create a table with the needed variables.
# X1, X2 - Categories
cer.data = table(data2$mfr, data2$type) 
print(cer.data)

     C  H
  A  0  1
  G 22  0
  K 23  0
  N  5  1
  P  8  0
  Q  7  1
  R  6  0

In [18]:
# Perform the Chi-Square test.
print(chisq.test(cer.data))

Warning message in chisq.test(cer.data):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  cer.data
X-squared = 30.081, df = 6, p-value = 3.795e-05

In [19]:
# Chi-squared test
chisq.test(data2$type, data2$mfr) # continuity correction

Warning message in chisq.test(data2$type, data2$mfr):
"Chi-squared approximation may be incorrect"

	Pearson's Chi-squared test

data:  data2$type and data2$mfr
X-squared = 30.081, df = 6, p-value = 3.795e-05

In [20]:
#
#t.test
#aov
#chisq.test

In [22]:
# Covariance
# correlation

# Both variables , Must be Numeric , not a category

In [24]:
cor(data2$rating, data2$sugar, use="complete.obs")
# 'x' must be numeric

[1] -0.760031

In [25]:
cov(data2$rating, data2$sugar, use="complete.obs")

[1] -48.49059