In [4]:
#A data frame is a table or a two-dimensional array-like structure.
# Row â€“ Column Type

# We now require to know - Pycharm too

# source("C:/Users/radha/Desktop/Rtest/dataFrame.r")  on Rstudio

# save /Load

# clt + alt + R  in R studio

# Ctl + enter

# https://support.rstudio.com/hc/en-us/articles/200711853-Keyboard-Shortcuts

# Run from current line to document end  Ctrl+Alt+E

In [5]:
# Data Frame
rm(list=ls())


emp.data <- data.frame(
  emp_id = c (1001,1002,1003,1004,1005), 
  emp_name = c("Sachin","Dhoni", "ganguly", "Kohli","rohit"),
  salary = c(623333,815543,611314,929441,843215), 
  
  start_date = as.Date(c("2012-01-01", "2013-09-23", "2014-11-15", "2014-05-11",
                         "2015-03-27")),
  stringsAsFactors = FALSE
)
# Print the data frame.			
print(emp.data)

  emp_id emp_name salary start_date
1   1001   Sachin 623333 2012-01-01
2   1002    Dhoni 815543 2013-09-23
3   1003  ganguly 611314 2014-11-15
4   1004    Kohli 929441 2014-05-11
5   1005    rohit 843215 2015-03-27

In [6]:
print(str(emp.data))

'data.frame':	5 obs. of  4 variables:
 $ emp_id    : num  1001 1002 1003 1004 1005
 $ emp_name  : chr  "Sachin" "Dhoni" "ganguly" "Kohli" ...
 $ salary    : num  623333 815543 611314 929441 843215
 $ start_date: Date, format: "2012-01-01" "2013-09-23" ...
NULL

In [7]:
print(summary(emp.data))

     emp_id       emp_name             salary         start_date
 Min.   :1001   Length:5           Min.   :611314   Min.   :2012-01-01
 1st Qu.:1002   Class :character   1st Qu.:623333   1st Qu.:2013-09-23
 Median :1003   Mode  :character   Median :815543   Median :2014-05-11
 Mean   :1003                      Mean   :764569   Mean   :2014-01-14
 3rd Qu.:1004                      3rd Qu.:843215   3rd Qu.:2014-11-15
 Max.   :1005                      Max.   :929441   Max.   :2015-03-27

In [8]:
# stringsAsFactors = TRUE / FALSE observe difference


# Extract Specific columns. 
result <- data.frame(emp.data$emp_name , emp.data$salary)
print(result)

  emp.data.emp_name emp.data.salary
1            Sachin          623333
2             Dhoni          815543
3           ganguly          611314
4             Kohli          929441
5             rohit          843215

In [9]:
# Extract first two rows. 
result <- emp.data[1:2,] 
print(result)

  emp_id emp_name salary start_date
1   1001   Sachin 623333 2012-01-01
2   1002    Dhoni 815543 2013-09-23

In [10]:
# Add the "dept" coulmn. 
emp.data$dept <- c("IT","Operations","IT","HR","Finance") 
v <- emp.data 
print(v)

  emp_id emp_name salary start_date       dept
1   1001   Sachin 623333 2012-01-01         IT
2   1002    Dhoni 815543 2013-09-23 Operations
3   1003  ganguly 611314 2014-11-15         IT
4   1004    Kohli 929441 2014-05-11         HR
5   1005    rohit 843215 2015-03-27    Finance

In [11]:
# One more dataframe of same type
emp.data2 <- data.frame(
  emp_id = c (1006,1007,1008,1009,1010), 
  emp_name = c("Sachin2","Dhoni2", "ganguly2", "Kohli2","rohit2"),
  salary = c(623333,815543,611314,929441,843215), 
  
  start_date = as.Date(c("2012-01-01", "2013-09-23", "2014-11-15", "2014-05-11",
                         "2015-03-27")),
  dept = c("IT","Operations","IT","HR","Finance"),
  stringsAsFactors = TRUE
)

emp.finaldata <- rbind(emp.data, emp.data2) 
print(emp.finaldata)

   emp_id emp_name salary start_date       dept
1    1001   Sachin 623333 2012-01-01         IT
2    1002    Dhoni 815543 2013-09-23 Operations
3    1003  ganguly 611314 2014-11-15         IT
4    1004    Kohli 929441 2014-05-11         HR
5    1005    rohit 843215 2015-03-27    Finance
6    1006  Sachin2 623333 2012-01-01         IT
7    1007   Dhoni2 815543 2013-09-23 Operations
8    1008 ganguly2 611314 2014-11-15         IT
9    1009   Kohli2 929441 2014-05-11         HR
10   1010   rohit2 843215 2015-03-27    Finance

In [16]:
attach(mtcars)

nrow(mtcars)
ncol(mtcars)

str(mtcars)

The following objects are masked from mtcars (pos = 3):

    am, carb, cyl, disp, drat, gear, hp, mpg, qsec, vs, wt

The following objects are masked from mtcars (pos = 4):

    am, carb, cyl, disp, drat, gear, hp, mpg, qsec, vs, wt

[1] 32

[1] 11

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [15]:
head(mtcars)Â 
head(mtcars,10)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D         24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230          22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280          19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4

In [17]:
# Extract Specific columns. 
result <- data.frame(mtcars$mpg , mtcars$cyl)
print(result)

   mtcars.mpg mtcars.cyl
1        21.0          6
2        21.0          6
3        22.8          4
4        21.4          6
5        18.7          8
6        18.1          6
7        14.3          8
8        24.4          4
9        22.8          4
10       19.2          6
11       17.8          6
12       16.4          8
13       17.3          8
14       15.2          8
15       10.4          8
16       10.4          8
17       14.7          8
18       32.4          4
19       30.4          4
20       33.9          4
21       21.5          4
22       15.5          8
23       15.2          8
24       13.3          8
25       19.2          8
26       27.3          4
27       26.0          4
28       30.4          4
29       15.8          8
30       19.7          6
31       15.0          8
32       21.4          4

In [20]:
mtcars["Mazda RX4",Â "cyl"]Â

[1] 6

In [21]:
mtcars[c("mpg",Â "hp")]Â

                    mpg  hp
Mazda RX4           21.0 110
Mazda RX4 Wag       21.0 110
Datsun 710          22.8  93
Hornet 4 Drive      21.4 110
Hornet Sportabout   18.7 175
Valiant             18.1 105
Duster 360          14.3 245
Merc 240D           24.4  62
Merc 230            22.8  95
Merc 280            19.2 123
Merc 280C           17.8 123
Merc 450SE          16.4 180
Merc 450SL          17.3 180
Merc 450SLC         15.2 180
Cadillac Fleetwood  10.4 205
Lincoln Continental 10.4 215
Chrysler Imperial   14.7 230
Fiat 128            32.4  66
Honda Civic         30.4  52
Toyota Corolla      33.9  65
Toyota Corona       21.5  97
Dodge Challenger    15.5 150
AMC Javelin         15.2 150
Camaro Z28          13.3 245
Pontiac Firebird    19.2 175
Fiat X1-9           27.3  66
Porsche 914-2       26.0  91
Lotus Europa        30.4 113
Ford Pantera L      15.8 264
Ferrari Dino        19.7 175
Maserati Bora       15.0 335
Volvo 142E          21.4 109

In [23]:
mtcars["Camaro Z28",]Â

           mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Camaro Z28 13.3 8   350  245 3.73 3.84 15.41 0  0  3    4

In [25]:
#Logical indexing
LÂ =Â mtcars$amÂ ==Â 1Â 
mtcars[L,]Â

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora  15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [31]:
L2Â =Â mtcars$amÂ ==Â 1Â & mtcars$cyl == 6 
mtcars[L2,]Â 

# Observe &

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Ferrari Dino  19.7 6   145  175 3.62 2.770 15.50 0  1  5    6

In [32]:
# Renames - not now
# names(mtcars) <- c("A","B","C","D","E","F","G","H","I","J","K")

In [34]:
library(dplyr)
filter(mtcars, am == 1 & cyl == 6)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 19.7 6   145  175 3.62 2.770 15.50 0  1  5    6

In [41]:
apply(mtcars,2,sum)

     mpg      cyl     disp       hp     drat       wt     qsec       vs
 642.900  198.000 7383.100 4694.000  115.090  102.952  571.160   14.000
      am     gear     carb
  13.000  118.000   90.000

In [45]:
mtcarsNew <- mtcars
mtcarsNew <- mtcarsNew[ ,c('mpg', 'disp')]

xv <- apply(mtcarsNew,2,mean)

round(xv, digits = 2)

   mpg   disp
 20.09 230.72

In [46]:
# Reshape, melt etc Later separate class