In [1]:
# Factors
# Character()
# Numeric()

In [4]:
state <- c("hyd","Ban","che","hyd","Mum", "del","cal","che") 

# state
factor(state) # factors means unique LIST for Groups

[1] hyd Ban che hyd Mum del cal che
Levels: Ban cal che del hyd Mum

In [5]:
x <- factor(state) 
levels(x)

[1] "Ban" "cal" "che" "del" "hyd" "Mum"

In [8]:
state <- c("hyd","Ban","che","hyd","Mum", "del","cal","che") 

income <- c(10,15,18,22,15,14,13,22)
t(tapply(income,state,mean)) # check for 'che'

     Ban cal che del hyd Mum
[1,] 15  13  20  14  16  15

In [9]:
ordered(state)

[1] hyd Ban che hyd Mum del cal che
Levels: Ban < cal < che < del < hyd < Mum

In [10]:
# save.image("workmay29A.txt")

# load("workmay29A.txt")