In [19]:
# IF-else
# ifelse
# for loop
# while loop
# Mutate
# Break, continue

In [1]:
#if-else

x <- 5
if(x > 0){
  print("Positive number")
}


x <- -5
if(x > 0){
  print("Non-negative number")
} else {
  print("Negative number")
}

x <- 0
if (x < 0) {
  print("Negative number")
} else if (x > 0) {
  print("Positive number")
} else
  print("Zero")

[1] "Positive number"
[1] "Negative number"
[1] "Zero"

In [4]:
#On Vector
# ifelse()

a = c(5,7,-2,9)
x <- ifelse(a %% 2 == 0,"even","odd")
print(x)

x <- ifelse(a < 0,"Negative","Positive")
print(x)

[1] "odd"  "odd"  "even" "odd"
[1] "Positive" "Positive" "Negative" "Positive"

In [5]:
# the difference between if and ifelse:

# if is a control flow statement, taking a single logical value as an argument
# ifelse is a vectorised function, taking vectors as all its arguments.

In [2]:
attach(mtcars)
head(mtcars)
library(dplyr)
x1 <- mutate(mtcars, Pass.Fail = ifelse(cyl == 6, "Pass", "Fail"))
print(head(x1))

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

   mpg cyl disp  hp drat    wt  qsec vs am gear carb Pass.Fail
1 21.0   6  160 110 3.90 2.620 16.46  0  1    4    4      Pass
2 21.0   6  160 110 3.90 2.875 17.02  0  1    4    4      Pass
3 22.8   4  108  93 3.85 2.320 18.61  1  1    4    1      Fail
4 21.4   6  258 110 3.08 3.215 19.44  1  0    3    1      Pass
5 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2      Fail
6 18.1   6  225 105 2.76 3.460 20.22  1  0    3    1      Pass

In [6]:
newdata <- mutate(mtcars, cyltext = ifelse(cyl == 4 ,"Type A" ,
                                    ifelse(cyl == 6 ,"Type B" ,
                                    ifelse(cyl == 8 ,"Type C" ,"C"
                                                  )))
                 )
print(head(newdata))

   mpg cyl disp  hp drat    wt  qsec vs am gear carb cyltext
1 21.0   6  160 110 3.90 2.620 16.46  0  1    4    4  Type B
2 21.0   6  160 110 3.90 2.875 17.02  0  1    4    4  Type B
3 22.8   4  108  93 3.85 2.320 18.61  1  1    4    1  Type A
4 21.4   6  258 110 3.08 3.215 19.44  1  0    3    1  Type B
5 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2  Type C
6 18.1   6  225 105 2.76 3.460 20.22  1  0    3    1  Type B

In [7]:
## FOR

x <- c(2,5,3,9,8,11,6)

for (val in x) {
  print(val)
}



xvector <- c(2,5,3,9,8,11,6)

for (val in x) {
  cat("text " ,val ,"\n")
}

[1] 2
[1] 5
[1] 3
[1] 9
[1] 8
[1] 11
[1] 6
text  2
text  5
text  3
text  9
text  8
text  11
text  6

In [9]:
## FOR  and IF
xvector <- c(2,5,3,9,8,11,6)

for (val in x) {
  if(val > 9 ){
    print("A")
  }
  else if (val > 5){
    print("B")
  }
  else{
    print("C")
  }
}

[1] "C"
[1] "C"
[1] "C"
[1] "B"
[1] "B"
[1] "A"
[1] "B"

In [11]:
num=6

factorial = 1
for(i in 1:num) {
  factorial = factorial * i
  }
print(factorial)

[1] 720

In [12]:
num = 3
factorial = 1
# check is the number is negative, positive or zero
if(num < 0) {
  print("Sorry, factorial does not exist for negative numbers")
} else if(num == 0) {
  print("The factorial of 0 is 1")
} else {
  for(i in 1:num) {
    factorial = factorial * i
  }
  print(paste("The factorial of", num ,"is",factorial))
}

[1] "The factorial of 3 is 6"

In [13]:
# WHILE
cnt <- 5
while (cnt <= 7) {
  print(cnt)
  cnt = cnt + 1
}

[1] 5
[1] 6
[1] 7

In [14]:
n1 = 0
n2 = 1
# Note count 2
count = 2
print("Fibonacci sequence:")
nterms = 8
while(count < nterms) {
  nth = n1 + n2
  print(nth)
  # update values
  n1 = n2
  n2 = nth
  count = count + 1
}

[1] "Fibonacci sequence:"
[1] 1
[1] 2
[1] 3
[1] 5
[1] 8
[1] 13

In [15]:
# BREAK 
v <- c(100)
cnt <- 1

repeat {
  print(paste("count", cnt , "=", v))
  cnt <- cnt+1
  
  if(cnt > 5) {
    break
  }
}

[1] "count 1 = 100"
[1] "count 2 = 100"
[1] "count 3 = 100"
[1] "count 4 = 100"
[1] "count 5 = 100"

In [16]:
# NEXT
v <- LETTERS[1:6]
for ( i in v) {
  
  if (i == "D") {
    next
  }
  print(i)
}

[1] "A"
[1] "B"
[1] "C"
[1] "E"
[1] "F"

In [18]:
section <- c("MATH111", "SCI22", "ENG333")
grade <- c(78, 93, 56)
student <- c("David", "Kristina", "Mycroft")
gradebook <- data.frame(section, grade, student)
mutate(gradebook, Pass.Fail = ifelse(grade > 60, "Pass", "Fail"))

  section grade student  Pass.Fail
1 MATH111 78    David    Pass
2 SCI22   93    Kristina Pass
3 ENG333  56    Mycroft  Fail

In [21]:
x <- switch(2,"red","green","blue")
print(x)

x <- switch(3,"red","green","blue")
print(x)

[1] "green"
[1] "blue"

In [22]:
## switch Functions also

# Program make a simple calculator that can add, subtract, multiply and divide using functions
add <- function(x, y) {
  return(x + y)
}

subtract <- function(x, y) {
  return(x - y)
}

multiply <- function(x, y) {
  return(x * y)
}

divide <- function(x, y) {
  return(x / y)
}

# take input from the user
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")
choice = 1 # as.integer(readline(prompt="Enter choice[1/2/3/4]: "))
num1 = 5  #as.integer(readline(prompt="Enter first number: "))
num2 = 10 # as.integer(readline(prompt="Enter second number: "))

operator <- switch(choice,"+","-","*","/")

result <- switch(choice, add(num1, num2), subtract(num1, num2), multiply(num1, num2), divide(num1, num2))
print(paste(num1, operator, num2, "=", result))

[1] "Select operation."
[1] "1.Add"
[1] "2.Subtract"
[1] "3.Multiply"
[1] "4.Divide"
[1] "5 + 10 = 15"