In [2]:
attach(iris)
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [4]:
head(iris)

Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,id
5.1,3.5,1.4,0.2,setosa,1
4.9,3.0,1.4,0.2,setosa,2
4.7,3.2,1.3,0.2,setosa,3
4.6,3.1,1.5,0.2,setosa,4
5.0,3.6,1.4,0.2,setosa,5
5.4,3.9,1.7,0.4,setosa,6

In [5]:
library(reshape2)

# generate a unique id for each row; this let's us go back to wide format later
iris$id <- 1:nrow(iris)

iris.lng <- melt(iris, id=c("id", "Species"))
head(iris.lng)

# new column Variable, Value

id,Species,variable,value
1,setosa,Sepal.Length,5.1
2,setosa,Sepal.Length,4.9
3,setosa,Sepal.Length,4.7
4,setosa,Sepal.Length,4.6
5,setosa,Sepal.Length,5.0
6,setosa,Sepal.Length,5.4

In [10]:
str(iris.lng)

'data.frame':	600 obs. of  4 variables:
 $ id      : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Species : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ variable: Factor w/ 4 levels "Sepal.Length",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ value   : num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...

In [7]:
# Wide - cast
iris.wide <- dcast(iris.lng, id + Species ~ variable)
head(iris.wide)

id,Species,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width
1,setosa,5.1,3.5,1.4,0.2
2,setosa,4.9,3.0,1.4,0.2
3,setosa,4.7,3.2,1.3,0.2
4,setosa,4.6,3.1,1.5,0.2
5,setosa,5.0,3.6,1.4,0.2
6,setosa,5.4,3.9,1.7,0.4

In [11]:
library("dplyr")
iris.lng[10:30,]

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

,id,Species,variable,value
10,10,setosa,Sepal.Length,4.9
11,11,setosa,Sepal.Length,5.4
12,12,setosa,Sepal.Length,4.8
13,13,setosa,Sepal.Length,4.8
14,14,setosa,Sepal.Length,4.3
15,15,setosa,Sepal.Length,5.8
16,16,setosa,Sepal.Length,5.7
17,17,setosa,Sepal.Length,5.4
18,18,setosa,Sepal.Length,5.1
19,19,setosa,Sepal.Length,5.7
20,20,setosa,Sepal.Length,5.1
21,21,setosa,Sepal.Length,5.4
22,22,setosa,Sepal.Length,5.1
23,23,setosa,Sepal.Length,4.6
24,24,setosa,Sepal.Length,5.1
25,25,setosa,Sepal.Length,4.8
26,26,setosa,Sepal.Length,5.0
27,27,setosa,Sepal.Length,5.0
28,28,setosa,Sepal.Length,5.2
29,29,setosa,Sepal.Length,5.2
30,30,setosa,Sepal.Length,4.7

In [12]:
iris.lng[sample(nrow(iris.lng),10),] # Random sampling

,id,Species,variable,value
126,126,virginica,Sepal.Length,7.2
173,23,setosa,Sepal.Width,3.6
196,46,setosa,Sepal.Width,3.0
525,75,versicolor,Petal.Width,1.3
189,39,setosa,Sepal.Width,3.0
98,98,versicolor,Sepal.Length,6.2
108,108,virginica,Sepal.Length,7.3
43,43,setosa,Sepal.Length,4.4
286,136,virginica,Sepal.Width,3.0
255,105,virginica,Sepal.Width,3.0

In [14]:
molted = melt(iris,id.vars=c("id","Species"),measured.vars=c("Sepal.length","Sepal.width","Petal.length" ,"Petal.width"),variable="NewColumn")
str(molted)
molted[sample(nrow(molted),10),] # Random sampling
# VAriable Renamed

'data.frame':	600 obs. of  4 variables:
 $ id       : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Species  : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ NewColumn: Factor w/ 4 levels "Sepal.Length",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ value    : num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...

,id,Species,NewColumn,value
202,52,versicolor,Sepal.Width,3.2
122,122,virginica,Sepal.Length,5.6
299,149,virginica,Sepal.Width,3.4
430,130,virginica,Petal.Length,5.8
300,150,virginica,Sepal.Width,3.0
494,44,setosa,Petal.Width,0.6
35,35,setosa,Sepal.Length,4.9
294,144,virginica,Sepal.Width,3.2
459,9,setosa,Petal.Width,0.2
376,76,versicolor,Petal.Length,4.4

In [18]:
dcast(iris.wide, Species~., fun.aggregate=mean, na.rm=TRUE)

Using Petal.Width as value column: use value.var to override.

Species,.
setosa,0.246
versicolor,1.326
virginica,2.026