In [1]:
library(sqldf)
sqldf("select * from BOD where Time > 4")

Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite

  Time demand
1 5    15.6
2 7    19.8

In [3]:
attach(BOD)
BOD

The following objects are masked from BOD (pos = 3):

    demand, Time

  Time demand
1 1     8.3
2 2    10.3
3 3    19.0
4 4    16.0
5 5    15.6
6 7    19.8