In [3]:
v1 <- TRUE 
v2 <-  8 # 8, 8.52, 9.1234 etc
v3 <- 2L # Note using “L”
v4 <- 2+5i # “Note using I”
v4 <- "Data science" # if “TRUE” also character
v6 <- charToRaw("Hello")

In [6]:
#Know which type : Either one, you can use  try with v1,v2,v3,v4,v5,v6
# Types : They are logical, integer, double, complex, character and raw.
print(class(v2))
print(typeof(v2))

print(is.vector(v2))

[1] "numeric"
[1] "double"
[1] TRUE

In [7]:
single.vector <-  c(1)
multi.vector <- c(1,5,10,25)
print(single.vector)
print(multi.vector)

[1] 1
[1]  1  5 10 25

In [8]:
# Creating a sequence from 5 to 13.
vseq <- 1:100
print(vseq)

  [1]   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
 [19]  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
 [37]  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
 [55]  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
 [73]  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
 [91]  91  92  93  94  95  96  97  98  99 100

In [9]:
vseq2 <- 6.6:12.6
vseq2

[1]  6.6  7.6  8.6  9.6 10.6 11.6 12.6

In [10]:
# Create vector with elements from 5 to 9 incrementing by 0.4.
print(seq(5, 9, by = 0.4))

 [1] 5.0 5.4 5.8 6.2 6.6 7.0 7.4 7.8 8.2 8.6 9.0

In [13]:
seq(1, 5, length.out=4) # specify length of the vector

[1] 1.000000 2.333333 3.666667 5.000000

In [14]:
# The logical and numeric values are converted to characters. 
s <- c('apple','red',100,TRUE)
print(s)

[1] "apple" "red"   "100"   "TRUE"

In [38]:
# Access its members
# Vector index in R starts from 1, unlike most programming languages where index start from 0.

#We can use a vector of integers as index to access specific elements.

#We can also use negative integers to return all elements except that those specified.

vecGroup <- c("first","second","third","fourth")

vecGroup[3]           # access 3rd element []

vecGroup[c(2, 4)]  # [ c ( )] , obeerve square and round brackets

[1] "third"

[1] "second" "fourth"

In [28]:
# Accessing vector elements using negative indexing.
vecGroup[-1]   # access all but 1st element

vecGroup[c(-1,-3)]   # access all but 1st element

vecGroup[1]
vecGroup[2]
vecGroup[3]
vecGroup[4]

[1] "second" "third"  "fourth"

[1] "second" "fourth"

[1] "first"

[1] "second"

[1] "third"

[1] "fourth"

In [23]:
# vecGroup[c(2, -3)]    # cannot mix positive and negative integers - WRONG

In [29]:
# using logical

vecGroup[c(TRUE, FALSE, FALSE, TRUE)]

[1] "first"  "fourth"

In [32]:
vn = c("pavan", "imarticus") 
names(vn) = c("First", "Last") 
vn["First"] 
# This is best, give column names

  First
"pavan"

In [53]:
# Accessing vector elements using 0/1 indexing.
#vecGroup
#y2 <- vecGroup[c(0,0,0,1)]
#print(y2)

#y2 <- vecGroup[c(1,3,2,1)]
#print(y2)

In [42]:
x <- c(0,3,5,7,9,10)
x[x < 5]  # filtering vectors based on conditions

[1] 0 3

In [45]:
x[3] <- 0 ; x        # modify 2nd element

[1]  0  3  0  7  9 10

In [46]:
# Out-of-Range Index
x[7]

[1] NA

In [47]:
#Range Index
x[2:4]

[1] 3 0 7

In [48]:
x[c(2,4)]

[1] 3 7

In [54]:
# Create two vectors.
v1 <- c(3,8)
v2 <- c(4,11)

# Vector addition.
add.result <- v1+v2
print(add.result)

# Vector subtraction.
sub.result <- v1-v2
print(sub.result)

# Vector multiplication.
multi.result <- v1*v2
print(multi.result)

# Vector division.
divi.result <- v1/v2
print(divi.result)

[1]  7 19
[1] -1 -3
[1] 12 88
[1] 0.7500000 0.7272727

In [56]:
# Vector Element Recycling - careful
v1 <- c(3,8,4,4)
v2 <- c(4,11)
# V2 becomes c(4,11,4,11,4,11)

add.result <- v1+v2
print(add.result)

[1]  7 19  8 15

In [57]:
# Sort the elements of the vector.
sort.result <- sort(x)
print(sort.result)

# Sort the elements in the reverse order.
revsort.result <- sort(x, decreasing = TRUE)
print(revsort.result)

[1]  0  0  3  7  9 10
[1] 10  9  7  3  0  0

In [67]:
## Combing vector

vFirst <- c(5,5,6,6)
vSecond <- c(8,8,9,9)

vNew <- c(vFirst, vSecond) 
print(vNew)

[1] 5 5 6 6 8 8 9 9

In [61]:
vNew <- 5*vNew
vNew

[1] 25 25 30 30 40 40 45 45

In [68]:
x3 <- c("first"=3, "second"=0, "third"=9)
names(x3)
x3["second"]

[1] "first"  "second" "third"

second
     0

In [69]:
# Delete vector - may be vey rare

vFirst <- NULL
vFirst <- vFirst[1]

vFirst

NULL